@tailwind base;
@tailwind components;
@tailwind utilities;

$white: #eee;
$black: #222;

body {
    background-color: $white;
    @media (prefers-color-scheme: dark) {
        background-color: $black;
    }
    color: $black;
    @media (prefers-color-scheme: dark) {
        color: $white;
    }
}

.center {
    @apply flex justify-center
}

.title {
    @apply text-3xl;
}
